/* to all pages */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}
html{
    font-size: 100%;
    font-family: century;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
/* 
colores a utilizar:
naranja: #f36f40
negro: #180607
negro-negro: #000000
blanco: #ffffff 
*/
#particles-js{
    width: 100%;
    height: 110vh;
    /* background-image: linear-gradient(to bottom right , black 30%, #65e4c7, white); */
    /* background-color: #f36f40; */
    background-color: black;
}
.me{
    width: 40%;
    display: block;   
    margin-left: 25px;
    position: absolute;
    /* color: white; */
    margin: 40vh 1%;
}
.dc{
    color: white;
    font-size: 6rem;
}
.title{
    margin-left: 45px;
    color: white;
    font-size: 6rem;
    font-weight: 700;
}
.subtitle{
    color: #f36f40;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin-left: 45px;
    letter-spacing: 8px;
    font-weight: 400;
    position: relative;
    top: 100px;
}
.logo{
    width:10%;
    height: auto;
    position: absolute;
    top: 80vh;
    left: 85vw;
}
.panda{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* left: 20%; */
    /* animation: EntryLogo  0.8s;
    animation-delay: 1s;
    transform: scale(0);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; */
}

@media (max-width: 1024px){
    .me{
        width: 100%;
    }
    .logo{
        width: 30%;
        position: absolute;
        top: 65vh;
        left: 60vw;
    }
    .title{
        font-size: 4rem;
    }
    .subtitle{
        font-size: 1.4rem;
        letter-spacing: 8px;
        font-weight: 400;
        position: relative;
        top: 75px;
    }
    .panda{
        /* width: 100%; */
    }